@import url("https://fonts.googleapis.com/css?family=Arvo");

.raffleRoller {
  height: 100px;
  position: relative;
  margin: 60px auto 30px auto;
  width: 900px;
}

.raffleRollerHolder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid #3c3759;
}

.raffleRollerContainer {
  width: 9999999999999999999px;
  max-width: 999999999999999999px;
  height: 100px;
  background: #191726;
  margin-left: 0;
}

.raffleRollerHolder::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  left: 50%;
  background: #d16266;
}

.item {
  display: inline-block;
  float: left;
  margin: 4px 0 0.5px 5px;
  width: 85px;
  height: 88px;
  border: 1px solid #70677c;
  background: #14202b;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.winningItem {
  border: 2px solid #66b233;
  border-bottom: 4px solid #66b233;
}

.inventory {
  margin: 0 auto;
  width: 960px;
  height: 120px;
  max-width: 953px;
  padding: 10px 15px 6px;
  border: 2px solid #1c3344;
  background: #0e1a23;
  display: flex;
  overflow-x: scroll; /* Enables horizontal scrolling */
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

.inventory::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Webkit browsers (Chrome, Safari, Edge) */
}

.inventory > .item {
  margin: 4px 2px 0.5px 2px;
  flex-shrink: 0;
}

.inventory > .item:hover {
  background-size: 90%;
  background-color: #182a38;
}

.inventory > .item:active {
  height: 83px;
  width: 80px;
  position: relative;
  top: -2px;
  border: 2px solid #356d27;
  border-bottom: 4px solid #356d27;
}
